<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="recetas" text="Volver" color="primary" mode="ios">

      </ion-back-button>
    </ion-buttons>
    <ion-title>BestaFood </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ">
  

  <ion-img class="ion-padding foto1" src="/assets/ensalada.jpg"></ion-img>
  <ion-text  color="black">
    <h3>Ensalada de quinoa, con queso y nueces</h3>
  </ion-text>
  <ion-text color="dark">
    <h5>Ingredientes:</h5>
      <p>1 puñado de nueces.<br>
      - ½ taza de quinoa hervida.<br>
      - 1 pepino en rodajas finas.<br>
      - 3 rebanadas de queso Halloumi.<br>
      - 3 tomates cherry<br>
      - ½ pimiento amarillo<br>
      - lechuga<br>
      - vinagre<br>
      - aceite de oliva<br>
      - sal</p>
  </ion-text>
 
  <h5>Preparación</h5>
  <p>
    - Enjuagamos muy bien la quinoa bajo el chorro de agua corriente para eliminar la saponina, que le da un sabor amargo.<br>
    - Ponemos en una olla 1 taza al ras de quinoa, y con la misma taza ponemos 2 tazas de agua o caldo de verduras.<br>
    - Llevamos la olla al fuego y cuando rompa a hervir, la tapamos y cocinamos a fuego medio por 15-20 minutos.<br>
    - Vamos a saber que está cocida cuando las semillas se vuelven semitransparentes y les aparece una especie de rabito blanco.<br>
    - No se debe pasar porque quedará pastosa. Una vez cocida, si sobra líquido la escurrimos, y removemos los granos con un tenedor para separarlos.<br>
    - Cocinar el queso halloumi en una sartén con una gota de aceite de oliva.<br>
    - Disponer en una ensaladera la lechuga en el fondo, la quinoa, los tomates cherry cortados por la mitad, el pimiento amarillo cortado en tiras y el pepino en rodajas 
    finas.<br>
    - Colocar unas nueces en el centro y aliñar con una vinagreta de aceite, vinagre y sal.
  </p>

</ion-content>