<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="recetas" text="Volver" color="primary" mode="ios">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Te llevo app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-img class="ion-padding foto1" src="/assets/auto1.png"></ion-img>
  <ion-text  color="black">
    <h3>Mercedes-benz CLA250</h3>
  </ion-text>
  <ion-text color="dark">
    <h5> Salida: 7:00PM - 8:30PM</h5>
    <h5> Conductor: Juanito Perez</h5>
    <h5>Matricula: CH-ZZ-TT</h5>
    <h5>Recorrido: Zona norte Maipú</h5>


      
  </ion-text>
  
  

</ion-content>