<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="recetas" text="Volver" color="primary" mode="ios">

      </ion-back-button>
    </ion-buttons>
    <ion-title>BestaFood </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-img class="ion-padding foto1" src="/assets/galletas.jpg"></ion-img>
  <ion-text  color="black">
    <h3>Muffings de bagazo de almendras</h3>
  </ion-text>
  <ion-text color="dark">
    <h5>Ingredientes:</h5>
      <p>- 1 y ¾ de taza de bagazo de almendras<br>
      - ¼ de taza harina (la de tu preferencia)<br>
      - ½ taza azúcar mascabado<br>
      - 4 huevos (yemas y claras por separado)<br>
      - 1 cucharada de polvo de hornear<br>
      - Extracto de vainilla</p>
  </ion-text>
  <h5>Preparación</h5>
  <p>
    - Mezcla el bagazo, la harina y el polvo de hornear.</p>
    <p>- Agrega las yemas y el extracto de vainilla. </p>
    <p>- Bate las claras a punto nieve, apóyate con una batidora para mejores resultados. </p>
    <p>- Incorpora todos los ingredientes realizando movimientos envolventes. </p>
    <p>- Lleva al horno con temperatura moderado durante 30 minutos.</p>
    <p>- ¡Disfruta!</p>
  

</ion-content>