<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="recetas" text="Volver" color="primary" mode="ios">

      </ion-back-button>
    </ion-buttons>
    <ion-title>BestaFood </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-img class="ion-padding foto1" src="/assets/pan.jpg"></ion-img>
  <ion-text  color="black">
    <h3>pan de bagazo de coco y naranja</h3>
  </ion-text>
  <ion-text color="dark">
    <h5>Ingredientes:<br>
      1 taza de bagazo de coco rallado<br>
      1 taza de salvado de avena<br>
      ¼ de taza de agua<br>
      3 huevos (claras)<br>
      Endulzante de tu preferencia<br>
      1 cucharadita de polvo de hornear<br>
      Esencia de vainilla</h5>
  </ion-text>
  <h5>para la cubierta</h5>
  4 naranjas, sin cáscara ni semillas<br>
  1 sobre de gelatina sin sabor (grenetina)<br>
  ¼ de taza de agua<br>
  <h5>Preparación</h5>
  <p>
    Coloca el bagazo, el salvado de avena y el resto de los ingredientes para la base en un molde y mezcla con ayuda de una batidora. Posteriormente, hornea a temperatura moderada por unos 30 minutos.
    Para la cubierta, coloca las naranjas en la licuadora y agrega la gelatina disuelta en ¼ de taza de agua hirviendo y licua.
    Toma la base y vierte sobre ella el licuado. Refrigera por una media hora ¡y listo!
  </p>

</ion-content>