<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="recetas" text="Volver" color="primary" mode="ios">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Te llevo app </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  

  <ion-img class="ion-padding foto1" src="/assets/auto2.png"></ion-img>
  <ion-text  color="black">
    <h3>Callidac CT5</h3>
  </ion-text>
  <ion-text color="dark">
    <h5> Salida: 8:00PM - 9:00PM</h5>
    <h5> Conductor: Susana Oria</h5>
    <h5>Matricula: CA-lt-F4</h5>
    <h5>Recorrido: Zona norte Maipú</h5>

      
  </ion-text>
  
</ion-content>