<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" >
      <ion-button (click)="mostrarMenu() ">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-avatar>
       <!-- <ion-img class="user" src="/assets/avatar.svg"></ion-img>-->
       <ion-img  class="user" src="/assets/icon/icono.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>TeLlevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="" >
  <ion-item color="tertiary">
    <ion-label >Nuevos Recorridos</ion-label>
  </ion-item>
  
  <ion-slides [options]="option" class="ion-padding ">
    <ion-slide>
      <ion-router-link href="/recetas/receta1">
        <ion-card>
          <ion-card-header>
            <ion-img src="/assets/auto1.png"></ion-img>
            <ion-card-title>Mercedes-benz CLA250</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Salida: 6:00PM - 9:00PM<br>
            Recorrido: Zona sur Maipú
          </ion-card-content>
        </ion-card>
      </ion-router-link>
    </ion-slide>  
    <ion-slide>
      <ion-router-link href="/recetas/receta2">
      <ion-card>
        <ion-card-header>
          <ion-img src="/assets/auto2.png"></ion-img>
          <ion-card-title>Callidac CT5</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Salida: 7:00PM - 8:30PM<br>
          Recorrido: Zona norte Maipú
        </ion-card-content>
      </ion-card>
      </ion-router-link>
    </ion-slide>  
    <ion-slide>
      <ion-router-link href="/recetas/receta3">
      <ion-card>
        <ion-card-header>
          <ion-img src="/assets/auto3.png"></ion-img>
          <ion-card-title>Chevrolet spark 2013</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Salida: 8:00PM - 9:00PM<br>
          Recorrido: Zona poniente Maipú
        </ion-card-content>
      </ion-card>
      </ion-router-link>
    </ion-slide>  
  </ion-slides>
  

  
  
  
</ion-content>
