<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<ion-header>
  <ion-toolbar >
  
    <ion-buttons slot="end">
      <ion-avatar>
       <!-- <ion-img class="user" src="/assets/avatar.svg"></ion-img>-->
       <ion-img  class="user" src="/assets/icon/icono.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Tellevo app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img  class="duoc" src="/assets/icon/logoduoc.png"></ion-img>
  <hr><hr><hr><hr><hr><hr><hr><hr><hr>
  <ion-text  color="black">
    <h5 class="inicios">Inicio Sesíon</h5>
  </ion-text>

 
  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">

    <ion-item>

      <ion-label position="floating">Correo: </ion-label>

      <ion-input type="correo" placeholder="Ingrese correo"

                 name="correo" [(ngModel)]= "usuario.correo"

                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"

                 #email required>

      </ion-input>

    </ion-item> 

    <ion-item>

      <ion-label position="floating">Contraseña: </ion-label>

      <ion-input type="password" placeholder="Contraseña"

                 name="password" [(ngModel)]= "usuario.password"

                 #password required>

      </ion-input>
      
    </ion-item>
   

    <ion-button [disabled] ="formulario.invalid"

    type="submit" (click)="onLogin(email, password)" expand="block"  >

      Iniciar Sesión

    </ion-button>
    
  </form>
  <ion-row>
    <ion-col>
      <p>
        <a class="centera" href="/formulario">Crear una cuenta</a>
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p>
        <a class="centera" href="/restablecer">¿Olvidaste tu contraseña?</a>
      </p>
    </ion-col>
  </ion-row>
  

</ion-content>


