<ion-header>
  <ion-toolbar>
    <ion-title>BestaFood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="option" >
    <ion-slide>
      
        <ion-card>
          <ion-card-header>
            
            <ion-card-title>Verifique su cuenta</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Si ya verifico su cuenta pulse continuar e inicie sesión.
          </ion-card-content>
        </ion-card>
        
    </ion-slide>  
    
  </ion-slides>
  <ion-button

    type="submit"  expand="block" routerLink='/login' >

      Continuar

    </ion-button>

  
  
  
</ion-content>