<ion-header>
  <ion-toolbar>
    <ion-title>telleva app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="option" >
    <ion-slide>
      
        <ion-card>
          <ion-card-header>
            
            <ion-card-title>¡Bienvenid@!</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Bienvenido a TeLlevoApp! la aplicación con la que podras regresar a casa de manera segura y confiable.
          </ion-card-content>
        </ion-card>
        
    </ion-slide>  
    
  </ion-slides>
  <ion-button

    type="submit"  expand="block" routerLink='/inicio' >

      Continuar

    </ion-button>

  
  
  
</ion-content>