<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Volver" color="primary" mode="ios">

        </ion-back-button>
      </ion-buttons>
      <ion-title>Recetas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item href="/recetas/receta1">
    <ion-label>muffin de gabazo de almendras</ion-label>
    
  </ion-item>
  <ion-item href="/recetas/receta2">
    <ion-label>Pan de bagazo de coco  y de naranja</ion-label>
  </ion-item>
  <ion-item href="/recetas/receta2">
    <ion-label>Ensalada de quinoa, con queso y nueces</ion-label>
  </ion-item>
  
  


  
 
  
</ion-content>
