<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          defaultHref="/"
          text="Volver"
          color="primary">
          </ion-back-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  

  <ion-item>

    <ion-label>Nombre: </ion-label>

    <ion-input type="nombre" placeholder="Ingrese nombre"

               name="nombre" [(ngModel)]= "usuario.nombre"

               required>

    </ion-input>

  </ion-item>

  <ion-item>

    <ion-label>Apellidos: </ion-label>

    <ion-input type="apellidos" placeholder="Ingrese apellidos"

               name="apellidos" [(ngModel)]= "usuario.apellidos"

               required>

    </ion-input>

  </ion-item>

  <ion-item>

    <ion-label>Edad: </ion-label>

    <ion-input type="edad" placeholder="Ingrese edad"

               name="edad" [(ngModel)]= "usuario.edad"

               required>

    </ion-input>

  </ion-item>

  <form #formulario="ngForm" (ngSubmit) ="onSubmit()">

    <ion-item>

      <ion-label>Correo: </ion-label>

      <ion-input type="correo" placeholder="Ingrese correo"

                 name="correo" [(ngModel)]= "usuario.correo"

                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"

                 required>

      </ion-input>

    </ion-item> 

    <ion-item>

      <ion-label>Contraseña: </ion-label>

      <ion-input type="password" placeholder="Contraseña"

                 name="password" [(ngModel)]= "usuario.password"

                 required>

      </ion-input>

    </ion-item>


    <ion-button [disabled] ="formulario.invalid"

            type="submit" expand="block" routerLink='/inicio'>

      Registrar

    </ion-button>

  </form>

</ion-content>


